$cute-green: #c6e096;
$cute-red: #e17e66;
$cute-white: #fcfbfb;
$kr: 'Nanum Gothic Coding', monospace;

body{
  background: $cute-white;
}

.kr{
  font-family: $kr;
}

.green{
  color: $cute-green;
}
.red{
  color: $cute-red;
}

.header{
  // text-align: center;
}
#name{
  margin: 20px;
  text-align: center;
}
.nameSpan{
  padding: 10px;
  height: 20px;
}
#headerSpan{
  font-size: 24px;
  font-family: 'Yantramanav', sans-serif;
  font-weight: 100;
}

.navDiv{
  text-align: center;
  padding-inline-start: 0 !important;

}
.nav{
  font-family: 'Yantramanav', sans-serif;

}

.navLi{
  list-style: none;
  display: inline;
}
.navLinkDivs{
  display: inline;
  transition: border-bottom 0.5s ease;
  border-bottom: 1px solid $cute-green;
  width: 50px;
  margin: 20px;
}
.navLinkDivs:hover{
  border-bottom: 1px solid $cute-red;
}

.navLi a {
  text-decoration: none;
  // text-decoration: underline;
  // text-decoration-color: $cute-green;
  color: black;
  font-weight: 100;
}
.navLi a:hover {
  // text-decoration: underline;
  // text-decoration-color: $cute-red;
}

#highlightImageDiv, #highlightVideoDiv{
  text-align: center;
  margin-left: 0 auto;
}
#highlightImage{
  width: 100%;
  max-width: 500px;
}


#highlightVideoDiv{
  text-align: center;
}
#highlightVideoDiv video{
  width: 100%;
  max-width: 500px;
}



p{
  font-family: 'Yantramanav', sans-serif;

}

@media(max-width:501px){
  #highlightImage, #higlightVideo{
    margin: 20px auto;
  }
}
